html {
    /* This fixes issues with scrolling to an element being blocked by fixed header */
    scroll-padding-top: 10rem;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#content {
    height: 100%;
    width: 100%;
}

.section-container:first-of-type {
    padding-top: 10%;
}

.section-container:last-of-type {
    padding-bottom: 3%;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.section-header {
    background-color: #012d61;
    color: aliceblue;
}

.table-entry th {
    color: aliceblue;
    background-color: #2273bb;
    width: 50%;
}

.table-entry td {
    background-color: aliceblue;
}

#reminder-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reminder-table {
    width: 50%;
}

#log-options {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.selection-button {
    width: 30%;
    height: 100px;
    background-color: var(--mayo-med-blue);
    margin: 10px;
    border-radius: 30px;
}

.selection-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    text-decoration: none;
    color: aliceblue;
}

.guide-container {
    align-self: center;
    width: 45%;
    max-height: 600px;
    border-radius: 50px;
    background-color: var(--mayo-med-blue);
    overflow: hidden;
    text-align: center;
    color: var(--site-white);
    margin-bottom: 20px;
}

.guide-container a {
    text-decoration: none;
    color: var(--site-white);
}

.guide-container img {
    width: 100%;
    height: 100%
}